@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Space+Mono&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #040710;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global */
.flex {
  display: flex;
}

.nav-header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px;
}

.pokeapi-logo {
  width: 150px;
}

.search-input {
  display: flex;
  width: 50%;
}

.btn-search {
  outline: none;
  border: none;
  height: 52px;
  width: 52px;
  background: rgb(254,171,130);
  background: linear-gradient(166deg, rgba(254,171,130,1) 0%, rgba(255,62,62,1) 100%);
  color: #fff;
  padding-top: 7px ;
}

input {
  height: 52px;
  font-size: 1.2rem;
  width: 100%;
  padding: .5rem 1.2rem;
  outline: none;
  border: none;
  color: black;
  font-size: 1rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}


/* Pokemon Card*/

/* .pokemon-card {
  border: 1px solid red;
} */

.pokemon-card-margin{
  margin-bottom: 20px;
}

.pokemon-card-margin-super{
  margin: 50px 0;
}
.pokemon-card-span {
  font-weight: 400;
  color: #B377F3;
}

.card-container {
  display: flex;
  align-items: center;
}

.card-item, .card-info{
  width: 50%;
  /* border: 1px solid green; */
}

.card-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card-title h1 {
  text-transform: capitalize;
}

.card-title h2 {
  font-weight: 400;
  color: #FECA1B;
  font-family: 'Space Mono', monospace;
}

.card-props {
  border-radius: 7px;
  background: rgb(254,171,130);
  background: radial-gradient(circle, rgb(252, 155, 106) 0%, rgb(253, 87, 87) 100%);
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

/* .card-props-splitter {
  margin-right: 160px;
} */

.prop{
  margin-bottom: 10px;
}
.prop:last-of-type {
  margin-bottom: 0;
}
.prop h4{
  font-family: 'Space Mono';
  color: #222222;
  font-size: 22px;
}

.string-prop {
  text-transform: capitalize;
}

/* StatCard */
.stat-card {
  padding: 10px 15px;
  background-color: #00000056;
  margin-bottom: 10px;
  border-radius: 7px;
}

.stat-data {
  align-items: center;
  justify-content: space-between;
}

.stat-data h4{
  font-family: 'Space Mono';
  font-size: 20px;
}

.stat-card p {
  font-family: 'Open Sans';
  font-size: 13px;
  margin-right: 10px;
}
.stat-icon {
  width: 20px;
  height: 20px;
  background-color: #3DFFA2;
  margin-right: 7px;
  border-radius: 5px;
}